.wishlist{
    display: block;
    width: 100%;
}
.wishlist_title{
    display: block;
    font-family: shabnam_bold;
    font-size: 1.2rem;
    color: var(--blackColor);
}
.wishlist_title::after{
    display: block;
    content: "";
    width: 8rem;
    height: 0.2rem;
    background-color: var(--greenColor2);
}
.wishlist_title::before{
    display: block;
    content: "";
    position: absolute;
    bottom:-0.5rem;
    width: 4rem;
    height: 0.2rem;
    background-color: var(--greenColor2);
}

.wishlist_empty{
    display: block;
    text-align: center;
    font-family: shabnam_bold;
    font-size: 3rem;
    color: var(--redColor);
}