.contactUs{
    display: block;
    width: 100%;
    margin-bottom: 4rem;
}
.contactUs_item{
    display: block;
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0 0 20px 10px #efefef;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}
.contactUs_item_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 4rem;
    height: 4rem;
    border: 2px dotted var(--greenColor2);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--greenColor2);
    transition: all 0.4s ease-out;
}
.contactUs_item_icon:hover{
    background-color: var(--greenColor2);
    border: none;
    color: var(--whiteColor);
}
.contactUs_item_title{
    font-family: shabnam_bold;
    font-size: 1.5rem;
    margin-block: 1rem ;
}
.contactUs_item_text{
    display: block;
    color: var(--textColor);
}


.contactUs_form{
    display: block;
    padding: 0.7rem;
    margin-top: 3rem;
    width: 100%;
    box-shadow: 0 0 10px 7px #efefef;
    border-radius: 0.5rem;
}
.contactUs_form_wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 20px;
}
.contactUs_form_input{
    margin-bottom: 1rem;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--greenColor1);
    width: 100%;
    height: 2.5rem;
    padding-right: 0.5rem;
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--textColor);
}
.contactUs_form_text{
    outline: none;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--greenColor1);
    width: 100%;
    height: 6rem;
    padding: 0.5rem;
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--textColor);
}
.ContactUs_form_submit{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
}