/* <<<< Font Family >>>> */
@font-face {
    font-family: shabnam_medium;
    src: url(../../public/font/Shabnam-Medium.ttf);
}
@font-face {
    font-family: shabnam_bold;
    src: url(../../public/font/Shabnam-Bold.ttf);
}
/* <<<< Font Family >>>> */

/* <<<< * >>>> */
*,
body{
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: shabnam_bold;
}
/* <<<< * >>>> */

/* <<<< container >>>> */
.containers{
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
/* <<<< container >>>> */


/* <<<< root : variable >>>> */
:root{
    --whiteColor: #ffffff;
    --blackColor: #333333;
    --greenColor1: #EAFEF1;
    --greenColor2: #209E2E;
    --grayColor: #B7B7B7;
    --textColor: #878CA0;
    --blueColor1: #E9F5EA;

}
/* <<<< root : variable >>>> */

/* <<<< button_white >>>> */
.button_white{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: shabnam_bold;
    font-size: 1.1rem;
    color: var(--blackColor);
    width: 120px;
    height: 2.5rem;
    outline: none;
    border: 1px solid var(--greenColor2);
    border-radius: 1rem;
    background-color: var(--greenColor1);
    cursor: pointer;
    transition: all 0.4s ease-out;
}
.button_white:hover{
    background-color: var(--greenColor2);
    color: var(--whiteColor);
}
/* <<<< button_white >>>> */

/* <<<< button_green >>>> */
.button_black{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: shabnam_bold;
    font-size: 1.1rem;
    width: 120px;
    height: 2.5rem;
    outline: none;
    border: 1px solid var(--greenColor2);
    border-radius: 1rem;
    background-color: var(--greenColor2);
    color: var(--whiteColor);
    cursor: pointer;
    transition: all 0.4s ease-out;
}
.button_black:hover{
    background-color: var(--blackColor);
}
/* <<<< button_green >>>> */

/* <<<< Swiper >>>> */
.mySwiper .swiper-pagination-bullet{
    font-size: 3rem;
    color: #209E2E !important;
}
