.products{
    display: block;
    width: 100%;
    margin-bottom: 4rem;
}
.products_search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    padding: 1.5rem 0;
    border-top: 3px dotted var(--greenColor2);
}
.products_search_input{
    width: 550px;
    height: 3rem;
    border: 3px dotted var(--greenColor2);
    outline: none;
    border-radius: 1rem;
    padding-right: 0.8rem;
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--blackColor);
}
.product_search_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
}